@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');

/* ---- global styles ---- */

a:hover {
    text-decoration: none;
}

body {
    color: #464b4f;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}

.social>li:first-of-type>iframe:first-of-type {
    display: none;
}

.link-special {
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 3px;
    padding: 0 10px 0 30px;
    background: url(assets/link-icon.png) 10px center no-repeat;
    background-color: #28A44A;
}

.slider-container {
  padding-bottom: 50px;
  background-color: #fff;
  height: 537px;
}
.photo-slider {
    position: relative;
}

.photo-slider>li>a {
    position: relative;
}

.photo-slider img {
    /*max-width: 100%;*/
    width: auto !important;
}



.photo-slider .slider-title {
    padding: 5px;
    text-align: center;
}

.photo-slider .slider-title h2 span {
    background-color: #F4EBEC;
    display: inline-block;
    font-weight: 300;
    padding: 0 5px;
    vertical-align: top;
}

.photo-slider .slider-title h2 span:first-of-type {
    color: #000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.photo-slider .slider-title h2 span:nth-of-type(2) {
    color: #28a44a;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.photo-slider .slider-title h3 {
    margin-top: 5px;
    background-color: #F4EBEC;
    font-size: 14px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
    padding: 0 15px 0 15px;
    text-align: center;
    border-left: 2px solid #28a44a;
    border-right: 2px solid #28a44a;
}
.photo-slider .slider-title h3 span {
    color: #28a44a;
    font-weight: normal;
}

.photo-slider .slider-info {
    background-color: #fff;
    line-height: 20px;
    padding: 24px 16px;
    border: 1px solid #999;
    height: 260px;
}

.photo-slider .slider-info span {
    display: block;
}

/* ---- upper header styles ---- */

.upper-header ul {
    margin-bottom: 0;
}

.upper-header p {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
}

.upper-header .social {
    margin-top: 5px;
}

.upper-header .upper-links {
    margin-top: 5px;
}

.upper-header .upper-links a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
    font-size: 12px;
    color: #464B4F;
}

.upper-header .upper-links a:hover {
    color: #28A44A;
    text-decoration: none;
}


/* ---- header banner styles ---- */

.header-banner {
    margin-top: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #1c7a35;
}

.header-banner img {
    width: 430px;
    max-width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
}

.header-banner .marquee {
    max-width: 520px;
    color: #fff;
    font-weight: 300;
    margin: 10px auto;
    overflow: hidden;
    white-space: nowrap;
}


/* ---- lower header styles ---- */

.lower-header .container {
    position: relative;
}

.lower-header .navbar-default {
    margin: 0;
    border: none;
    border-radius: 0;
    border-top: 1px solid #31c257;
    border-bottom: 1px solid #1c7a35;
}

.lower-header .navbar-default .navbar-nav li a:hover, .lower-header .navbar-default .navbar-nav li a:focus {
    background-color: #31C257;
}

.lower-header .navbar-default .navbar-nav li:last-of-type a:hover {
    background-color: #31C257;
}

.lower-header .navbar-default .navbar-nav li:last-of-type a {
    background-color: #B42410;
}

.lower-header .navbar-default .navbar-nav li>a {
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 0 4px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 80%;
    margin: 0 auto;
}

.lower-header .colors {
    border-top: 1px solid #31c257;
    height: 4px;
    background: url(assets/colors.png) repeat-x;
}

.lower-header .dropdown-control .fa {
    width: 30px;
    height: 30px;
    line-height: 26px;
    margin-left: 10px;
    border: 2px solid #fff;
}

.lower-header .dropdown-list {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #28A44A;
    font-size: 12px;
    z-index: 10;
}

.lower-header .dropdown-control .dropdown-list li {
    border: none;
}

.lower-header .dropdown-list li:last-of-type {
    background-color: #B42410;
}

.lower-header .dropdown-control .dropdown-list li a {
    border: none;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 12px;
}

.lower-header .dropdown-control .dropdown-list li:hover, .lower-header .dropdown-control .dropdown-list li:focus {
    background-color: #31C257;
}

.lower-header .dropdown-list a:hover {
    text-decoration: none;
}

.lower-header .navbar-default .navbar-toggle {
    border-color: #fff;
}

.lower-header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.lower-header .navbar-default .navbar-toggle:hover, .lower-header .navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: #fff;
}

.lower-header .navbar-default .navbar-toggle:hover .icon-bar, .lower-header .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #28A44A;
}

.lower-header .navbar-default .navbar-brand {
    height: auto;
    position: absolute;
    left: 0;
    top: -40px;
}

.lower-header .navbar-default .navbar-brand img {
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.lower-header .navbar-default .navbar-collapse {
    border: 0;
    box-shadow: 0;
    padding-top: 25px;
}


/* ---- counter bar styles ---- */

.counter-bar {
    margin-top: 40px;
    border: 1px solid #28A44A;
    padding: 15px;
    text-align: center;
}

.counter-bar .counter, .counter-bar p {
    display: inline-block;
}

.counter-bar .counter-input {
    display: none;
}

.counter-bar .counter {
    margin-right: 10px;
    margin-bottom: 15px;
}

.counter-bar .counter a {
    color: #28A44A;
    font-size: 16px;
}

.counter-bar .counter a:hover {
    color: #B42410;
    text-decoration: none;
}

.counter-bar .counter span:not(.counter-input) {
    display: inline-block;
    width: 15px;
    height: 22px;
    line-height: 22px;
    margin-right: 2px;
    background-color: #28A44A;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.counter-bar>p {
    font-size: 20px;
    font-weight: bold;
    color: #28A44A;
    transform: translateY(2px);
    display: block;
}

.counter-bar .link-special {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-bottom: 20px;
}

.counter-bar form {
    display: block;
}

.counter-bar form input {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #28A44A;
    border-right: none;
    border-radius: 5px 0 0 5px;
    vertical-align: top;
    background: url("assets/search-shadow.jpg") repeat-x top left;
}

.counter-bar form button {
    height: 32px;
    line-height: 32px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #000;
    background-color: #28A44A;
    color: #fff;
    transform: translateX(-4px);
    font-size: 11px;
}


/* ---- index page styles ---- */

.page-content {
    box-shadow: 0 0 3px #4e4e4e;
    margin-top: 20px;
}
.index-page .slider-container>h2 {
    font-size: 16px;
    height: 55px;
    line-height: 55px;
    padding-left: 10px;
    background-color: #fff;
    border-left: 1px solid #bdbcbc;
    border-right: 1px solid #bdbcbc;
    border-top: 3px solid #28a44a;
}
